.header {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #03a9f4;
    padding: 0 20px 350px 20px;
}
.baner {
    margin: 0 auto;
    max-width: 1140px;
}
.header-top {
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo {
    font-size: 27px;
    font-family: jost;
    line-height: 24px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    color: #fff;
}
.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 300px;
    .list-link {
        list-style: none;
    }
}
.nav-link {
    &:hover {
        color: #eed175;
    }
}
.phone {
    margin-left: 5%;
    &:hover {
        color: #eed175;
    }
}
// Бургер
.burger {
    position: relative;
    top: 10px;
    visibility: hidden;
    opacity: 0;
    border: none;
    background:none;
}
.burger-btn {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5%;
        &::after {
            content: '';
            position: absolute;
            top: 8px;
            right: 0;
            width: 30px;
            height: 3px;
            background-color: #fff;
            border-radius: 5%;
        }
        &::before {
            content: '';
            position: absolute;
            top: -8px;
            right: 0;
            width: 30px;
            height: 3px;
            background-color: #fff;
            border-radius: 5%;

        }
}
.burger-btn.active {
    transform: rotateZ(-45deg);
    transition: 1s;
        &::after {
           top: 0;
           transform: rotateZ(-90deg);
           transition: 0.5s;
        }
        &::before {
           top: 0;
           transform: rotateZ(90deg);
           transition: 0.5s;
         }
}
.navbar.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.phone.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;

}
// бургер 
.header-bottom {
    display: flex;
    margin-top: 290px;
}
.header-content {
    width: 50%;
}
.header-title {
    width: 99%;
    color: #fff;
}
.header-text {
    margin-left: 3%;
    color: #fff;
}
.header-btn {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 25px;
    margin-left: 6%;
    width: 170px;
    color: #212121;
    border: #fff 2px solid;
    background-color: #fff;
    border-radius: 18px;
    font-size: 18px;
    font-family: jost;
    font-weight: 600;
    padding: 10px 0;
    &:hover {
        font-size: 17px;
        border: #fff 2px solid;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.603), #03a8f471 70%);
        transition: 1s;
    }
}
.img-men {
    width: 50%;
    height: 365px;
    background-image:url(../img/men2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 70%;
}

@media (max-width: 940px) {
    .logo{
        margin-top: 10px;
    }
    .navbar {
        position: absolute;
        top: 100px;
        right: 0;
    }
    .nav-menu {
        flex-direction: column;
        align-items: flex-end;
    }
    .burger {
        visibility: visible;
        opacity: 1;
    }
    .phone {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 80px;
        right: 0;
    }
    .navbar {
        visibility: hidden;
        opacity: 0;
    }
    .header-bottom {
        margin-top: 250px;
    }
    .header {
        padding: 0 20px 250px 20px;
    }

}
@media (max-width: 840px) {
    .header-bottom {
        margin-top: 150px;
    }
    .header {
        padding: 0 20px 190px 20px;
    }

}
@media (max-width: 740px) {
    .header {
        padding: 0 20px 100px 20px;
    }
    .header-bottom {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .header-content {
        width: 100%;
        text-align: center;
        .header-title {
            margin: 0;
            width: 100%;
            font-size: 26px;
        }
        .header-text {
            margin: 0 auto;
            width: 80%;
        }
    }
    .header-btn {
        margin: 20px auto 0 auto;
    }
    .img-men {
        width: 100%;
        background-position-x: 50%;
    }
}
@media (max-width: 400px) {
    .img-men {
        height: 240px;
    }
}
